<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <title>Trang chủ</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <meta name="author" content="">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"">
      <link rel="stylesheet" href="../static/style.css">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
   <body class="main-layout">
      <header>
         <!-- header inner -->
         <div class="header">
            <div class="container">
               <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                     <div class="full">
                        <div class="center-desk">
                           <div class="logo">
                              <a href="#"><img src="../static/images/logo.png" alt="#" /></a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </header>
      <section class="banner_main">
         <div class="container">
            <div class="row d_flex">
               <div class="col-md-5">
                  <div class="text-bg">
                     <h1>Ứng dụng học<br>máy vào<br>lọc thư spam</h1>
                  <a href="test.html">Lọc thư</a>
                  </div>
               </div>
               <div class="col-md-7">
                  <div class="text-img">
                     <figure><img src="../static/images/img.png" /></figure>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <div id="about" class="hosting">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Data Science và AI</h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div class="web_hosting">
                     <figure><img  src="../static/images/web.jpg" alt="#"/></figure>
                     <p>AI (Trí tuệ nhân tạo) là “trí thông minh”, hay khả năng tư duy theo lập trình của một khối máy móc. Nó được mô phỏng theo mô hình tư duy của con người hay động vật nói chung.</p>
                     <p>AData Science (Khoa học dữ liệu) là phân tích và nghiên cứu dữ liệu. Một nhà khoa học dữ liệu chịu trách nhiệm đưa ra quyết định có lợi cho các công ty. Hơn nữa, vai trò của nhà khoa học dữ liệu thay đổi theo ngành công nghiệp.</p>
                     <a href="https://insight.isb.edu.vn/data-science-va-ai-khac-biet-nhu-the-nao/">Đọc thêm</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div id="service" class="Services">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>GIỚI THIỆU CÁC MÔ HÌNH</h2>
                     </div>
               </div>
            </div>
            <div class="row">
               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <div class="Services-box">
                     <i><img src="../static/images/service1.png" alt="#" /></i>
                     <h3>BỘ PHÂN LỚP NAIVE BAYES</h3>
                     <p>Bộ phân lớp Bayes là một giải thuật thuộc lớp giải thuật thống kê, nó có thể dự đoán xác suất của một phần tử dữ liệu thuộc vào một lớp là bao nhiêu. Phân lớp Bayes được dựa trên định lý Bayes. Thuật toán này có thể giải quyết các vấn đề phân loại nhị phân (hai lớp) và đa lớp </p>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <div class="Services-box">
                     <i><img src="../static/images/service2.png" alt="#" /></i>
                     <h3>CÂY QUYẾT ĐỊNH</h3>
                     <p>Cây quyết định là một cây phân cấp có cấu trúc được dùng để phân lớp các đối tượng dựa vào dãy các luật. Cây quyết định một sơ đồ giống như cấu trúc cây để hiển thị các dự đoán là kết quả của một loạt các phân tách dựa trên tính năng để phân loại.</p>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <div class="Services-box">
                     <i><img src="../static/images/service3.png" alt="#" /></i>
                     <h3>MÁY VECTOR HỖ TRỢ</h3>
                     <p>Máy vectơ hỗ trợ là một khái niệm trong thống kê và khoa học máy tính cho một tập hợp các phương pháp học có giám sát liên quan đến nhau để phân loại và phân tích hồi quy. Máy vectơ hỗ trợ dạng chuẩn nhận dữ liệu vào và phân loại chúng vào hai lớp khác nhau.</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
           <!-- FOOTER -->
    <footer class="py-3 bg-grey mt-3" style="border-top:2px solid rgba(255, 254, 254, 0.2); background: rgb(230, 247, 246); clear: both; position: relative; height: 80px; " >
      <h5 class="m-0 text-dark text-center ">Demo website ứng dụng học máy vào phân loại thư rác</h5>
      <p class="m-0 text-dark text-center ">&copy; Đồ án tốt nghiệp sinh viên Đặng Văn Thọ - Giáo viên hướng dẫn: Ths. Phạm Thị Miên  - Trường Đại học Giao Thông Vận Tải Phân hiệu Thành Phố Hồ Chí Minh
  </footer>
    </body>
</html>

